.information{
    width: 90%;
    margin: auto;
}
.title-logo img {
    width: 60px;
}

.singal-club {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


@media screen and (max-width:576px){
    .singal-club {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* tablate Responsive */
@media screen and (min-width:577px) and (max-width:1193px){
    .singal-club {

        grid-template-columns: repeat(2, 1fr);

    }

}
/* dextop */
@media screen and (min-width:1193px) {
    .singal-club {

        grid-template-columns: repeat(3, 1fr);

    }
}
